.pie-chart {
    @include centering;
    flex-direction: column;
}

.piechart {
    @include centering;
    display: block;
    position: absolute;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-image: conic-gradient(
        $primarycolor 70deg, 
        $secondarycolor 0 125deg, 
        $backgroundGrey 0 235deg,
        $tertiarycolor 0);
}
