.pie-chart {
/*    background-color: $whitecolor; */
    margin-bottom: -300px;
    @include centering;
    flex-direction: column;
    &__slice1 {
        @include centering;
        flex-direction: column;
        position: relative;
        right: 90px;
        top: 90px;
        z-index: 2;
        @include tablette {
            right: 100px;
            top: 110px;
        }
    }
    &__slice2 {
        @include centering;
        flex-direction: column;
        position: relative;
        left: 60px;
        bottom: 50px;
        z-index: 2;
        @include tablette {
            left: 80px;
            bottom: 40px;
        }
    }
    &__slice3 {
        @include centering;
        flex-direction: column;
        position: relative;
        left: 130px;
        bottom: 40px;
        z-index: 2;
        @include tablette {
            bottom: 10px;
        }
    }
    &__slice4 {
        @include centering;
        flex-direction: column;
        position: relative;
        left: 0px;
        bottom: 60px;
        z-index: 2;
        @include tablette {
            bottom: 20px;
        }
    }
}

.piechart {
    @include centering;
    position: relative;
    bottom: 380px;
    width: 350px;
    height: 350px;
    border: 0.1em solid $blackcolor;
    border-radius: 50%;
    box-shadow: 3px 3px 3px #736e6e;
    background-image: conic-gradient(
        #FFBF00 70deg, 
        #9FE2BF 0 125deg, 
        #6495ED 0 235deg,
        #DE3163 0);
        @include tablette {
            width: 400px;
            height: 400px;
        }
}