$primarycolor: #7C3057;
$secondarycolor: #AA0C59;
$tertiarycolor: #143356;
$blackcolor: #000;
$whitecolor: #fff;
$backgroundGrey: #f6f6f6;

$breakpoints: (
  medium-size: 768px,
  large-size: 992px,
);