.footer {
    display: flex; 
    flex-direction: column;
    color: $tertiarycolor;
    background-color: $backgroundGrey;
    width: 100%;
    padding: 15px 20px 10px 20px;
    margin-top: 50px;
    margin-bottom: 0px;
    @include tablette { 
        display: flex; 
        flex-direction: column;
    }
    @include desktop { 
        display: flex; 
        flex-direction: column;
    }
}
.footer-title {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    align-items: center;
    max-width: 1280px;
    margin: auto;
}

.footer-heading {
    font-size: 18px;
    font-weight: normal;
    margin: 0px auto 0px 5px;
    max-width: 1280px;
}

.footer-heading h2 {
    color: $secondarycolor;
}

.footer-box {
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    margin: auto;
    @include tablette {
        gap: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 1280px;
        margin: auto;
      }
    @include desktop { 
        gap: 20px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        max-width: 1280px;
        margin: auto;
      }
    &__links {
        color: $tertiarycolor;
        margin-left: 5px;
        display: block;
        text-decoration: none;
        @include tablette { 
            margin-right: 15px;
        }
        &:hover {
            color: $primarycolor;
        }
    }
    &__text {
        height: 15px;
        margin-right: 15px;
        margin-bottom: 5px;
        width: 15px;
        font-size: 15px;
        font-weight: lighter;
    }
    & ul {
        list-style-type: none;
        padding-left: 0px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        width: 100%;
    }
    & li {
        margin-bottom: 10px;
    }
}

.footer-box__links h5 {
    color: $tertiarycolor;
}
